
@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-container {
  .flickity-slider div {
    opacity: 0.6;
    margin: 0 5px;
    left: 10%;
    &.is-selected {
      opacity: 1;
      .flickerty-title {
        animation: fadein 2s;
      }
    }
  }
  
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { 
    outline: none; 
  }

  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: none;
    border: none;
    color: white;
  }
  
  .flickity-button:hover {
    background: none;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
  }
  
  /* Prev and Next buttons: */
  
  .flickity-button-icon {
    fill: currentColor;
    position: relative;
  }
  
  .flickity-prev-next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 5%;
    position: absolute;
    
    .flickity-button-icon {
      width: 70%;
    }
  
    &.previous { 
      left: 0;
    }
    &.next { 
      right: 0;
    }
  }
  
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    right: 10%;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots { 
    direction: rtl; 
  }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    border-radius: 50%;
    background: rgb(150, 158, 171);
    cursor: pointer;
    &.is-selected {
      background: rgb(249, 249, 249);
    }
  }
}