body {
  background: url(https://prod-static.disney-plus.net/eu-west-1/sections/app/builds/1a5fa0f2c9c58b87b69a34b1dcb988460db55de5_1585238878524/sections/app/node_modules/dss-junglebook/components/themes/images/background.png) center center / cover no-repeat fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}